.results{
    text-align: center;
}

.results img{
    border: 3px;
    border-color: #524E4E;
    margin-left: auto;
}

h1,h4{
    text-align: left;
    margin-left: 1%;
    text-underline-position: auto;
}

body{
    background-image: linear-gradient(to bottom, #FFFFFF, #D8D1F8);
}

footer {
    background-color: #2B4498;
	border-top: 2px solid grey;
    left: 0;
    bottom: 3;
    height: 55px;
	clear: both;
    width: 100%;
    overflow: hidden;
    text-align:right;
	position: absolute;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:1vw;
    color: black;
}