.results{
    text-align: center;
}

.results img,iframe{
    border: 2px;
    border-color: #524E4E;
    border-style: solid;
}

.results img{
    margin-left: 5%;
}



h1,h4,p{
    text-align: left;
    margin-left: 1%;
    text-underline-position: auto;
}

body{
    background-image: linear-gradient(to bottom, #FFFFFF, #D8D1F8);
}

footer {
    background-color: #2B4498;
	border-top: 2px solid grey;
    left: 0;
    bottom: 3;
    height: 55px;
	clear: both;
    width: 100%;
    overflow: hidden;
    text-align:right;
	position: absolute;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:1vw;
    color: black;
}

.container {
    width: 90%;
    height: 500px;
    background-image: linear-gradient(to bottom, #D8D1F8, #FFFFFF );
    border: #8DE6FF;
    padding: 10px;
    border-radius: 25px;
  }
  
  .one {
    width: 50%;
    height: 500px;
    float: left;
  }
  
  .two {
    margin-left: 50%;
    height: 500px;
  }
