.results{
    text-align: center;
}

.results img{
    border: 3px;
    border-color: #524E4E;
    margin-left: auto;
}

h1,h4{
    text-align: left;
    margin-left: 1%;
    text-underline-position: auto;
}

body{
    background-color:#FFFFFF;
    animation: LoopAnim 25s linear infinite;
    
    }
    @keyframes LoopAnim {
    
    0% { 
    background:#E5A9F4;
    }
    25% { 
    background:#F4A9EE;
    }
    50% { 
    background:#F4A9C0;
    }
    75%
    {
    background:#F4A9EE;
    }
    100%
    {
    background:#E5A9F4;
    }
    }